/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
}

/* Navigation Bar */
#navbar {
  background-color: #ffffffbf;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  height: 10vh;
  min-height: 80px;
  width: 100%;
  border-bottom: 3px solid #131450;
  position: fixed;
  top: 0;
  left: 0;
  transition: 250ms;
  z-index: 10;
}

#navbar:hover {
  background-color: #ffffff;
}

.logo, .nav-list, .settings {
  display: flex;
}

.nav-list {
  flex: 90%;
  list-style: none;
  justify-content: space-around;
}

.bookmark {
  font-size: 1.25em;
  transition: 500ms;
}

.bookmark:hover {
  color: #69B3E7;
}

.settings {
  flex: 10%;
}

.settings > img {
  height: 40px;
  width: 60px;
}

.settings > img:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 1s;
}

/* Landing Page */
#main-container {
  height: 100%;
  width: 100%;
}

.welcome {
  height: 100%;
  border-bottom: 10px double #131450;
}

.welcome-background {
  height: 100vh;
  width: 100%;
  background-image: url('https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.main-title {
  padding-top: 35vh;
  font-size: 6em;
  font-weight: 900;
}

.title-description {
  font-size: 2em;
  width: 55vw;
  min-width: 450px;
  display: inline-block; /* Not really sure why this is needed */
}

/* About Me Section */
.aboutme {
  border-bottom: 10px double #131450;
  padding-bottom: 10vh;
}

.aboutme-title {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-size: 3.5em;
  text-align: center;
}

.aboutme-content {
  font-size: 1.25em;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  min-width: 500px;
  margin: auto;
  align-items: center;
}

.aboutme-key {
  color: #071D49;
  font-weight: 900;
  text-decoration: underline;
}

.aboutme-image {
  flex: 3;
  padding: 70px 70px 70px 0;
  text-align: center;
}

.aboutme-text {
  flex: 7;
  list-style: none;
  min-width: 500px;
}

.aboutme-text > li {
  padding: 20px;
}

.aboutme-image > img {
  padding: 50px;
  border-radius: 10% 30%;
  background-color: #4E5B73;
}

/* Projects */
.projects {
  border-bottom: 10px double #131450;
  padding-bottom: 10vh;
}

.project-title {
  padding-top: 10vh;
  padding-bottom: 2vh;
  font-size: 3.5em;
  text-align: center;
}

.project-subtitle {
  padding-bottom: 10vh;
  width: 80%;
  margin:auto;
  font-size: 1.5em;
  text-align: center;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-wrapper {
  padding: 25px;
  position: relative;
  width: 550px;
  height: 550px;
}

.project-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid #000000;
  transition: 500ms;
}

.project-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
  text-align: center;
  color: transparent;
  transition: 1s;
}

.project-name {
  font-size: 1.3em;
  font-weight: bold;
}

.project-description {
  padding-top: 10px;
  font-size: 0.85em;
}

.project-text-wrapper:hover .project-name{
  color: #2CD5C4;
}

.project-text-wrapper:hover .project-description{
  color: #ffffff;
}

.darken-background {
  filter: brightness(10%);
}

/* Contact Info */
.contact {
  border-bottom: 10px double #131450;
  padding-bottom: 10vh;
}

.contact-title {
  padding-top: 10vh;
  padding-bottom: 2vh;
  font-size: 3.5em;
  text-align: center;
}

.contact-subtitle {
  padding-bottom: 10vh;
  width: 80%;
  margin:auto;
  font-size: 1.5em;
  text-align: center;
}